html,body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
}
#headline{
    width:100%;
    text-align: center;
    font-size: 3em;
    color:coral;
}
.container{
    display:flex;
    justify-content: center;
    width:100%;
}
.paper{
    padding:5%;
    width:80%;
    box-shadow: 0 10px 24px #eaeaea;
    border-radius: 20px;
}